* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: whitesmoke;
}

/* INIZIO HEADER */

.panel_white {
    background-color: white;
    height: 110px;
    padding: 10px 100px;
}

header * {
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
}

img {
    width: 70px;
}

h1 {
    font-size: 56px;
}

/* FINE HEADER */

/* INIZIO PRIMO PANNELLO */

nav {
    margin: 40px auto 4px;
}

.button_panel,
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 0 20px 60px;
    border-radius: 10px 10px 0 0;
}

.button {
    display: inline-block;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 5px;
}

.blue {
    color: white;
    background-color: rgb(49, 177, 241);
}

.white {
    color: darkgrey;
    border-color: darkgray
}

/* FINE PRIMO PANNELLO */

/* INIZIO PANNELLO PRINCIPALE  */

.container.border {
    border-radius: 0 0 10px 10px;
}

li {
    list-style-type: none;
    font-weight: 500;
    font-size: 36px;
}

li li {
    font-size: 28px;
    font-weight: 300;
    line-height: 2.5;
}

span {
    color: rgb(64, 182, 64);
    padding: 0 10px;
    border: 3px solid rgb(64, 182, 64);
    border-radius: 50%;
    color: rgb(64, 182, 64);
    font-size: 20px;
}

.span_cross {
    color: rgb(174, 14, 14);
    border-color: rgb(174, 14, 14);
}

.categories_tag {
    color: white;
    border: 1px solid;
    border-radius: 25px;
    font-size: 16px;
    padding: 5px 20px;
}

.violet {
    background-color: rgb(165, 94, 231);
}

.green {
    background-color: rgb(64, 182, 64);
}

.orange {
    background-color: darkorange;
}

.pink {
    background-color: indianred;
}

.lime {
    background-color: rgb(135, 199, 39);
}