* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: whitesmoke;
}

.panel_white {
    background-color: white;
    height: 80px;
    padding: 15px 20px;
}

header * {
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
}

.container {
    max-width: 900px;
    height: 100vh;
    background-color: white;
    margin: 40px auto;
}